.avatech-bg-primary{
    background-color:#0eb582 !important
}

.avatech-bg-secondary{
    background-color:#12363b !important
}

.avatech-bg-tertiary{
    background-color:#eff7f6 !important
}


.avatech-color-primary{
    color:#0eb582 !important
} 

.avatech-color-secondary{
    color:#12363b !important
}

.avatech-color-tertiary{
    color:#eff7f6 !important
}


